@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
  max-width: unset;
  text-align: unset;
}
.buy{
  background-image: url('./assets/buy.png');
}
.pilot{
  background-image: url('./assets/pilot.png');
}
.buy:hover, .pilot:hover {
  transform: scale(0.99);
  cursor: pointer;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}
.buy, .pilot {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1; 
}
